[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
urllib3 = ">=1.26.5"
bleach = ">=3.3.0"
intuit-oauth = "==1.2.4"
rauth = ">=0.7.3"
requests = ">=2.31.0"
simplejson = ">=3.19.1"
nose = "*"
coverage = "*"
twine = "*"
